@import url("m3-svelte/misc/styles.css");
@import url("m3-svelte/misc/recommended-styles.css");
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root, ::backdrop {
--m3-scheme-background: 246 250 247;
--m3-scheme-on-background: 43 53 49;
--m3-scheme-surface: 246 250 247;
--m3-scheme-surface-dim: 210 221 215;
--m3-scheme-surface-bright: 246 250 247;
--m3-scheme-surface-container-lowest: 255 255 255;
--m3-scheme-surface-container-low: 239 245 241;
--m3-scheme-surface-container: 232 240 235;
--m3-scheme-surface-container-high: 225 234 229;
--m3-scheme-surface-container-highest: 218 229 223;
--m3-scheme-on-surface: 43 53 49;
--m3-scheme-on-surface-variant: 87 97 93;
--m3-scheme-outline: 114 125 120;
--m3-scheme-outline-variant: 169 180 175;
--m3-scheme-inverse-surface: 10 15 13;
--m3-scheme-inverse-on-surface: 153 158 155;
--m3-scheme-primary: 38 106 88;
--m3-scheme-primary-dim: 22 94 77;
--m3-scheme-on-primary: 228 255 244;
--m3-scheme-primary-container: 172 240 217;
--m3-scheme-on-primary-container: 20 92 75;
--m3-scheme-primary-fixed: 172 240 217;
--m3-scheme-primary-fixed-dim: 159 226 204;
--m3-scheme-on-primary-fixed: 0 73 58;
--m3-scheme-on-primary-fixed-variant: 34 102 85;
--m3-scheme-inverse-primary: 186 255 232;
--m3-scheme-secondary: 76 100 92;
--m3-scheme-secondary-dim: 64 88 80;
--m3-scheme-on-secondary: 228 255 244;
--m3-scheme-secondary-container: 205 233 221;
--m3-scheme-on-secondary-container: 63 87 78;
--m3-scheme-secondary-fixed: 205 233 221;
--m3-scheme-secondary-fixed-dim: 192 218 208;
--m3-scheme-on-secondary-fixed: 44 68 60;
--m3-scheme-on-secondary-fixed-variant: 72 96 88;
--m3-scheme-tertiary: 47 102 115;
--m3-scheme-tertiary-dim: 33 90 102;
--m3-scheme-on-tertiary: 238 251 255;
--m3-scheme-tertiary-container: 183 238 253;
--m3-scheme-on-tertiary-container: 34 91 103;
--m3-scheme-tertiary-fixed: 183 238 253;
--m3-scheme-tertiary-fixed-dim: 170 224 238;
--m3-scheme-on-tertiary-fixed: 4 72 84;
--m3-scheme-on-tertiary-fixed-variant: 45 101 113;
--m3-scheme-error: 168 56 54;
--m3-scheme-error-dim: 103 4 13;
--m3-scheme-on-error: 255 247 246;
--m3-scheme-error-container: 250 116 111;
--m3-scheme-on-error-container: 110 10 18;
--m3-scheme-shadow: 0 0 0;
--m3-scheme-scrim: 0 0 0;
--m3-scheme-on-on-primary: 38 106 88;
--m3-scheme-primary-container-subtle: 164 232 209;
--m3-scheme-on-primary-container-subtle: 11 87 70;
--m3-scheme-tertiary-container-subtle: 172 227 241;
--m3-scheme-on-tertiary-container-subtle: 24 84 96;
--m3-scheme-error-container-subtle: 255 207 203;
--m3-scheme-on-error-container-subtle: 143 37 38;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root, ::backdrop {
--m3-scheme-background: 10 15 13;
--m3-scheme-on-background: 221 232 226;
--m3-scheme-surface: 10 15 13;
--m3-scheme-surface-dim: 10 15 13;
--m3-scheme-surface-bright: 36 46 42;
--m3-scheme-surface-container-lowest: 0 0 0;
--m3-scheme-surface-container-low: 14 21 18;
--m3-scheme-surface-container: 20 27 24;
--m3-scheme-surface-container-high: 25 33 30;
--m3-scheme-surface-container-highest: 30 40 36;
--m3-scheme-on-surface: 221 232 226;
--m3-scheme-on-surface-variant: 163 174 168;
--m3-scheme-outline: 109 120 115;
--m3-scheme-outline-variant: 64 74 70;
--m3-scheme-inverse-surface: 246 250 247;
--m3-scheme-inverse-on-surface: 81 86 84;
--m3-scheme-primary: 159 209 191;
--m3-scheme-primary-dim: 145 195 178;
--m3-scheme-on-primary: 22 72 59;
--m3-scheme-primary-container: 43 91 77;
--m3-scheme-on-primary-container: 187 238 220;
--m3-scheme-primary-fixed: 186 237 219;
--m3-scheme-primary-fixed-dim: 172 223 205;
--m3-scheme-on-primary-fixed: 21 71 58;
--m3-scheme-on-primary-fixed-variant: 52 100 86;
--m3-scheme-inverse-primary: 56 104 89;
--m3-scheme-secondary: 178 204 194;
--m3-scheme-secondary-dim: 164 191 180;
--m3-scheme-on-secondary: 45 69 61;
--m3-scheme-secondary-container: 40 64 56;
--m3-scheme-on-secondary-container: 171 197 187;
--m3-scheme-secondary-fixed: 205 233 221;
--m3-scheme-secondary-fixed-dim: 192 218 208;
--m3-scheme-on-secondary-fixed: 44 68 60;
--m3-scheme-on-secondary-fixed-variant: 72 96 88;
--m3-scheme-tertiary: 223 248 255;
--m3-scheme-tertiary-dim: 181 235 250;
--m3-scheme-on-tertiary: 43 99 111;
--m3-scheme-tertiary-container: 183 238 253;
--m3-scheme-on-tertiary-container: 34 91 103;
--m3-scheme-tertiary-fixed: 183 238 253;
--m3-scheme-tertiary-fixed-dim: 170 224 238;
--m3-scheme-on-tertiary-fixed: 4 72 84;
--m3-scheme-on-tertiary-fixed-variant: 45 101 113;
--m3-scheme-error: 250 116 111;
--m3-scheme-error-dim: 197 77 74;
--m3-scheme-on-error: 73 0 6;
--m3-scheme-error-container: 135 31 33;
--m3-scheme-on-error-container: 255 153 147;
--m3-scheme-shadow: 0 0 0;
--m3-scheme-scrim: 0 0 0;
--m3-scheme-on-on-primary: 158 209 191;
--m3-scheme-primary-container-subtle: 0 51 40;
--m3-scheme-on-primary-container-subtle: 132 181 164;
--m3-scheme-tertiary-container-subtle: 0 49 58;
--m3-scheme-on-tertiary-container-subtle: 126 179 193;
--m3-scheme-error-container-subtle: 96 0 10;
--m3-scheme-on-error-container-subtle: 255 137 131;
  }
}