@import "m3-svelte/misc/styles.css";
@import "m3-svelte/misc/recommended-styles.css";
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root, ::backdrop {
    --m3c-background: #f9f9fe;
    --m3c-on-background: #2e333a;
    --m3c-surface: #f9f9fe;
    --m3c-surface-dim: #d6dae3;
    --m3c-surface-bright: #f9f9fe;
    --m3c-surface-container-lowest: #ffffff;
    --m3c-surface-container-low: #f2f3fa;
    --m3c-surface-container: #ebeef5;
    --m3c-surface-container-high: #e5e8f0;
    --m3c-surface-container-highest: #dee3ec;
    --m3c-on-surface: #2e333a;
    --m3c-on-surface-variant: #5a5f67;
    --m3c-outline: #767b83;
    --m3c-outline-variant: #aeb2bb;
    --m3c-inverse-surface: #0c0e12;
    --m3c-inverse-on-surface: #9b9da1;
    --m3c-primary: #3e6188;
    --m3c-primary-dim: #32557b;
    --m3c-on-primary: #f7f9ff;
    --m3c-primary-container: #a9ccf9;
    --m3c-on-primary-container: #1e4469;
    --m3c-primary-fixed: #a9ccf9;
    --m3c-primary-fixed-dim: #9bbeea;
    --m3c-on-primary-fixed: #013054;
    --m3c-on-primary-fixed-variant: #294d73;
    --m3c-inverse-primary: #a9ccf9;
    --m3c-secondary: #546071;
    --m3c-secondary-dim: #485464;
    --m3c-on-secondary: #f7f9ff;
    --m3c-secondary-container: #d7e3f7;
    --m3c-on-secondary-container: #465363;
    --m3c-secondary-fixed: #d7e3f7;
    --m3c-secondary-fixed-dim: #c8d5e9;
    --m3c-on-secondary-fixed: #344050;
    --m3c-on-secondary-fixed-variant: #505c6d;
    --m3c-tertiary: #615a84;
    --m3c-tertiary-dim: #544e77;
    --m3c-on-tertiary: #fcf7ff;
    --m3c-tertiary-container: #d5cbfc;
    --m3c-on-tertiary-container: #49426a;
    --m3c-tertiary-fixed: #d5cbfc;
    --m3c-tertiary-fixed-dim: #c7beee;
    --m3c-on-tertiary-fixed: #352f56;
    --m3c-on-tertiary-fixed-variant: #524b74;
    --m3c-error: #a83836;
    --m3c-error-dim: #67040d;
    --m3c-on-error: #fff7f6;
    --m3c-error-container: #fa746f;
    --m3c-on-error-container: #6e0a12;
    --m3c-shadow: #000000;
    --m3c-scrim: #000000;
    --m3c-on-on-primary: #3e6188;
    --m3c-primary-container-subtle: #c2dcff;
    --m3c-on-primary-container-subtle: #2a4f75;
    --m3c-secondary-container-subtle: #cedbef;
    --m3c-on-secondary-container-subtle: #414e5e;
    --m3c-tertiary-container-subtle: #ddd5ff;
    --m3c-on-tertiary-container-subtle: #4e4770;
    --m3c-error-container-subtle: #ffcfcb;
    --m3c-on-error-container-subtle: #8f2526;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root, ::backdrop {
    --m3c-background: #0c0e12;
    --m3c-on-background: #e1e5ef;
    --m3c-surface: #0c0e12;
    --m3c-surface-dim: #0c0e12;
    --m3c-surface-bright: #272c33;
    --m3c-surface-container-lowest: #000000;
    --m3c-surface-container-low: #101418;
    --m3c-surface-container: #161a1f;
    --m3c-surface-container-high: #1c2026;
    --m3c-surface-container-highest: #21262d;
    --m3c-on-surface: #e1e5ef;
    --m3c-on-surface-variant: #a7abb4;
    --m3c-outline: #71767e;
    --m3c-outline-variant: #434850;
    --m3c-inverse-surface: #f9f9fe;
    --m3c-inverse-on-surface: #535559;
    --m3c-primary: #afc9eb;
    --m3c-primary-dim: #a1bbdd;
    --m3c-on-primary: #28425e;
    --m3c-primary-container: #3b5472;
    --m3c-on-primary-container: #d2e5ff;
    --m3c-primary-fixed: #bfd9fd;
    --m3c-primary-fixed-dim: #b1cbee;
    --m3c-on-primary-fixed: #1f3a56;
    --m3c-on-primary-fixed-variant: #3d5674;
    --m3c-inverse-primary: #48617f;
    --m3c-secondary: #bbc7db;
    --m3c-secondary-dim: #adbacd;
    --m3c-on-secondary: #354151;
    --m3c-secondary-container: #303c4c;
    --m3c-on-secondary-container: #b3c0d4;
    --m3c-secondary-fixed: #d7e3f7;
    --m3c-secondary-fixed-dim: #c8d5e9;
    --m3c-on-secondary-fixed: #344050;
    --m3c-on-secondary-fixed-variant: #505c6d;
    --m3c-tertiary: #e3dbff;
    --m3c-tertiary-dim: #d5cbfc;
    --m3c-on-tertiary: #514b74;
    --m3c-tertiary-container: #d5cbfc;
    --m3c-on-tertiary-container: #49426a;
    --m3c-tertiary-fixed: #d5cbfc;
    --m3c-tertiary-fixed-dim: #c7beee;
    --m3c-on-tertiary-fixed: #352f56;
    --m3c-on-tertiary-fixed-variant: #524b74;
    --m3c-error: #fa746f;
    --m3c-error-dim: #c54d4a;
    --m3c-on-error: #490006;
    --m3c-error-container: #871f21;
    --m3c-on-error-container: #ff9993;
    --m3c-shadow: #000000;
    --m3c-scrim: #000000;
    --m3c-on-on-primary: #aec8eb;
    --m3c-primary-container-subtle: #112e49;
    --m3c-on-primary-container-subtle: #93adcf;
    --m3c-secondary-container-subtle: #212d3c;
    --m3c-on-secondary-container-subtle: #9facbf;
    --m3c-tertiary-container-subtle: #2d274d;
    --m3c-on-tertiary-container-subtle: #aea5d4;
    --m3c-error-container-subtle: #60000a;
    --m3c-on-error-container-subtle: #ff8983;
  }
}