@import "m3-svelte/misc/styles.css";
@import "m3-svelte/misc/recommended-styles.css";
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root, ::backdrop {
    --m3-scheme-background: 248 249 254;
    --m3-scheme-on-background: 45 51 58;
    --m3-scheme-surface: 248 249 254;
    --m3-scheme-surface-dim: 213 218 227;
    --m3-scheme-surface-bright: 248 249 254;
    --m3-scheme-surface-container-lowest: 255 255 255;
    --m3-scheme-surface-container-low: 241 244 249;
    --m3-scheme-surface-container: 234 238 245;
    --m3-scheme-surface-container-high: 228 232 240;
    --m3-scheme-surface-container-highest: 221 227 235;
    --m3-scheme-on-surface: 45 51 58;
    --m3-scheme-on-surface-variant: 90 96 103;
    --m3-scheme-outline: 117 123 131;
    --m3-scheme-outline-variant: 173 178 187;
    --m3-scheme-inverse-surface: 12 14 18;
    --m3-scheme-inverse-on-surface: 155 157 161;
    --m3-scheme-primary: 56 99 134;
    --m3-scheme-primary-dim: 43 87 121;
    --m3-scheme-on-primary: 246 249 255;
    --m3-scheme-primary-container: 172 214 255;
    --m3-scheme-on-primary-container: 29 75 109;
    --m3-scheme-primary-fixed: 172 214 255;
    --m3-scheme-primary-fixed-dim: 158 200 240;
    --m3-scheme-on-primary-fixed: 0 55 88;
    --m3-scheme-on-primary-fixed-variant: 40 84 119;
    --m3-scheme-inverse-primary: 172 214 255;
    --m3-scheme-secondary: 82 97 112;
    --m3-scheme-secondary-dim: 70 85 100;
    --m3-scheme-on-secondary: 246 249 255;
    --m3-scheme-secondary-container: 212 228 246;
    --m3-scheme-on-secondary-container: 68 83 98;
    --m3-scheme-secondary-fixed: 212 228 246;
    --m3-scheme-secondary-fixed-dim: 198 214 232;
    --m3-scheme-on-secondary-fixed: 50 65 79;
    --m3-scheme-on-secondary-fixed-variant: 78 93 108;
    --m3-scheme-tertiary: 92 91 133;
    --m3-scheme-tertiary-dim: 80 79 120;
    --m3-scheme-on-tertiary: 251 247 255;
    --m3-scheme-tertiary-container: 202 199 248;
    --m3-scheme-on-tertiary-container: 65 64 104;
    --m3-scheme-tertiary-fixed: 202 199 248;
    --m3-scheme-tertiary-fixed-dim: 188 186 233;
    --m3-scheme-on-tertiary-fixed: 45 44 83;
    --m3-scheme-on-tertiary-fixed-variant: 74 73 113;
    --m3-scheme-error: 168 56 54;
    --m3-scheme-error-dim: 103 4 13;
    --m3-scheme-on-error: 255 247 246;
    --m3-scheme-error-container: 250 116 111;
    --m3-scheme-on-error-container: 110 10 18;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 56 98 134;
    --m3-scheme-primary-container-subtle: 189 222 255;
    --m3-scheme-on-primary-container-subtle: 35 80 114;
    --m3-scheme-secondary-container-subtle: 204 220 238;
    --m3-scheme-on-secondary-container-subtle: 63 78 93;
    --m3-scheme-tertiary-container-subtle: 217 214 255;
    --m3-scheme-on-tertiary-container-subtle: 73 72 113;
    --m3-scheme-error-container-subtle: 255 207 203;
    --m3-scheme-on-error-container-subtle: 143 37 38;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root, ::backdrop {
    --m3-scheme-background: 12 14 18;
    --m3-scheme-on-background: 224 230 238;
    --m3-scheme-surface: 12 14 18;
    --m3-scheme-surface-dim: 12 14 18;
    --m3-scheme-surface-bright: 39 45 51;
    --m3-scheme-surface-container-lowest: 0 0 0;
    --m3-scheme-surface-container-low: 16 20 24;
    --m3-scheme-surface-container: 21 26 31;
    --m3-scheme-surface-container-high: 27 32 37;
    --m3-scheme-surface-container-highest: 32 38 45;
    --m3-scheme-on-surface: 224 230 238;
    --m3-scheme-on-surface-variant: 166 172 180;
    --m3-scheme-outline: 112 118 125;
    --m3-scheme-outline-variant: 66 72 79;
    --m3-scheme-inverse-surface: 248 249 254;
    --m3-scheme-inverse-on-surface: 83 85 89;
    --m3-scheme-primary: 171 202 233;
    --m3-scheme-primary-dim: 157 188 219;
    --m3-scheme-on-primary: 35 67 93;
    --m3-scheme-primary-container: 55 85 112;
    --m3-scheme-on-primary-container: 206 230 255;
    --m3-scheme-primary-fixed: 190 221 254;
    --m3-scheme-primary-fixed-dim: 176 207 239;
    --m3-scheme-on-primary-fixed: 28 60 86;
    --m3-scheme-on-primary-fixed-variant: 59 89 116;
    --m3-scheme-inverse-primary: 68 98 125;
    --m3-scheme-secondary: 185 200 218;
    --m3-scheme-secondary-dim: 171 186 204;
    --m3-scheme-on-secondary: 51 66 80;
    --m3-scheme-secondary-container: 46 61 75;
    --m3-scheme-on-secondary-container: 177 193 210;
    --m3-scheme-secondary-fixed: 212 228 246;
    --m3-scheme-secondary-fixed-dim: 198 214 232;
    --m3-scheme-on-secondary-fixed: 50 65 79;
    --m3-scheme-on-secondary-fixed-variant: 78 93 108;
    --m3-scheme-tertiary: 217 214 255;
    --m3-scheme-tertiary-dim: 202 199 248;
    --m3-scheme-on-tertiary: 73 72 113;
    --m3-scheme-tertiary-container: 202 199 248;
    --m3-scheme-on-tertiary-container: 65 64 104;
    --m3-scheme-tertiary-fixed: 202 199 248;
    --m3-scheme-tertiary-fixed-dim: 188 186 233;
    --m3-scheme-on-tertiary-fixed: 45 44 83;
    --m3-scheme-on-tertiary-fixed-variant: 74 73 113;
    --m3-scheme-error: 250 116 111;
    --m3-scheme-error-dim: 197 77 74;
    --m3-scheme-on-error: 73 0 6;
    --m3-scheme-error-container: 135 31 33;
    --m3-scheme-on-error-container: 255 153 147;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 171 202 233;
    --m3-scheme-primary-container-subtle: 11 46 71;
    --m3-scheme-on-primary-container-subtle: 144 174 205;
    --m3-scheme-secondary-container-subtle: 31 45 59;
    --m3-scheme-on-secondary-container-subtle: 157 173 190;
    --m3-scheme-tertiary-container-subtle: 41 40 78;
    --m3-scheme-on-tertiary-container-subtle: 169 167 213;
    --m3-scheme-error-container-subtle: 96 0 10;
    --m3-scheme-on-error-container-subtle: 255 137 131;
  }
}