@import "m3-svelte/misc/styles.css";
@import "m3-svelte/misc/recommended-styles.css";

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root, ::backdrop {
    --m3c-background: #f8f9fe;
    --m3c-on-background: #2d333a;
    --m3c-surface: #f8f9fe;
    --m3c-surface-dim: #d5dae3;
    --m3c-surface-bright: #f8f9fe;
    --m3c-surface-container-lowest: #ffffff;
    --m3c-surface-container-low: #f1f4f9;
    --m3c-surface-container: #eaeef5;
    --m3c-surface-container-high: #e4e8f0;
    --m3c-surface-container-highest: #dde3eb;
    --m3c-on-surface: #2d333a;
    --m3c-on-surface-variant: #5a6067;
    --m3c-outline: #757b83;
    --m3c-outline-variant: #adb2bb;
    --m3c-inverse-surface: #0c0e12;
    --m3c-inverse-on-surface: #9b9da1;
    --m3c-primary: #386386;
    --m3c-primary-dim: #2b5779;
    --m3c-on-primary: #f6f9ff;
    --m3c-primary-container: #acd6ff;
    --m3c-on-primary-container: #1d4b6d;
    --m3c-primary-fixed: #acd6ff;
    --m3c-primary-fixed-dim: #9ec8f0;
    --m3c-on-primary-fixed: #003758;
    --m3c-on-primary-fixed-variant: #285477;
    --m3c-inverse-primary: #acd6ff;
    --m3c-secondary: #526170;
    --m3c-secondary-dim: #465564;
    --m3c-on-secondary: #f6f9ff;
    --m3c-secondary-container: #d4e4f6;
    --m3c-on-secondary-container: #445362;
    --m3c-secondary-fixed: #d4e4f6;
    --m3c-secondary-fixed-dim: #c6d6e8;
    --m3c-on-secondary-fixed: #32414f;
    --m3c-on-secondary-fixed-variant: #4e5d6c;
    --m3c-tertiary: #5c5b85;
    --m3c-tertiary-dim: #504f78;
    --m3c-on-tertiary: #fbf7ff;
    --m3c-tertiary-container: #cac7f8;
    --m3c-on-tertiary-container: #414068;
    --m3c-tertiary-fixed: #cac7f8;
    --m3c-tertiary-fixed-dim: #bcbae9;
    --m3c-on-tertiary-fixed: #2d2c53;
    --m3c-on-tertiary-fixed-variant: #4a4971;
    --m3c-error: #a83836;
    --m3c-error-dim: #67040d;
    --m3c-on-error: #fff7f6;
    --m3c-error-container: #fa746f;
    --m3c-on-error-container: #6e0a12;
    --m3c-shadow: #000000;
    --m3c-scrim: #000000;
    --m3c-on-on-primary: #386286;
    --m3c-primary-container-subtle: #bddeff;
    --m3c-on-primary-container-subtle: #235072;
    --m3c-secondary-container-subtle: #ccdcee;
    --m3c-on-secondary-container-subtle: #3f4e5d;
    --m3c-tertiary-container-subtle: #d9d6ff;
    --m3c-on-tertiary-container-subtle: #494871;
    --m3c-error-container-subtle: #ffcfcb;
    --m3c-on-error-container-subtle: #8f2526;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root, ::backdrop {
    --m3c-background: #0c0e12;
    --m3c-on-background: #e0e6ee;
    --m3c-surface: #0c0e12;
    --m3c-surface-dim: #0c0e12;
    --m3c-surface-bright: #272d33;
    --m3c-surface-container-lowest: #000000;
    --m3c-surface-container-low: #101418;
    --m3c-surface-container: #151a1f;
    --m3c-surface-container-high: #1b2025;
    --m3c-surface-container-highest: #20262d;
    --m3c-on-surface: #e0e6ee;
    --m3c-on-surface-variant: #a6acb4;
    --m3c-outline: #70767d;
    --m3c-outline-variant: #42484f;
    --m3c-inverse-surface: #f8f9fe;
    --m3c-inverse-on-surface: #535559;
    --m3c-primary: #abcae9;
    --m3c-primary-dim: #9dbcdb;
    --m3c-on-primary: #23435d;
    --m3c-primary-container: #375570;
    --m3c-on-primary-container: #cee6ff;
    --m3c-primary-fixed: #beddfe;
    --m3c-primary-fixed-dim: #b0cfef;
    --m3c-on-primary-fixed: #1c3c56;
    --m3c-on-primary-fixed-variant: #3b5974;
    --m3c-inverse-primary: #44627d;
    --m3c-secondary: #b9c8da;
    --m3c-secondary-dim: #abbacc;
    --m3c-on-secondary: #334250;
    --m3c-secondary-container: #2e3d4b;
    --m3c-on-secondary-container: #b1c1d2;
    --m3c-secondary-fixed: #d4e4f6;
    --m3c-secondary-fixed-dim: #c6d6e8;
    --m3c-on-secondary-fixed: #32414f;
    --m3c-on-secondary-fixed-variant: #4e5d6c;
    --m3c-tertiary: #d9d6ff;
    --m3c-tertiary-dim: #cac7f8;
    --m3c-on-tertiary: #494871;
    --m3c-tertiary-container: #cac7f8;
    --m3c-on-tertiary-container: #414068;
    --m3c-tertiary-fixed: #cac7f8;
    --m3c-tertiary-fixed-dim: #bcbae9;
    --m3c-on-tertiary-fixed: #2d2c53;
    --m3c-on-tertiary-fixed-variant: #4a4971;
    --m3c-error: #fa746f;
    --m3c-error-dim: #c54d4a;
    --m3c-on-error: #490006;
    --m3c-error-container: #871f21;
    --m3c-on-error-container: #ff9993;
    --m3c-shadow: #000000;
    --m3c-scrim: #000000;
    --m3c-on-on-primary: #abcae9;
    --m3c-primary-container-subtle: #0b2e47;
    --m3c-on-primary-container-subtle: #90aecd;
    --m3c-secondary-container-subtle: #1f2d3b;
    --m3c-on-secondary-container-subtle: #9dadbe;
    --m3c-tertiary-container-subtle: #29284e;
    --m3c-on-tertiary-container-subtle: #a9a7d5;
    --m3c-error-container-subtle: #60000a;
    --m3c-on-error-container-subtle: #ff8983;
  }
}