@import "m3-svelte/misc/styles.css";
@import "m3-svelte/misc/recommended-styles.css";
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root, ::backdrop {
    --m3-scheme-background: 250 250 240;
    --m3-scheme-on-background: 48 52 41;
    --m3-scheme-surface: 250 250 240;
    --m3-scheme-surface-dim: 216 220 204;
    --m3-scheme-surface-bright: 250 250 240;
    --m3-scheme-surface-container-lowest: 255 255 255;
    --m3-scheme-surface-container-low: 243 245 233;
    --m3-scheme-surface-container: 237 239 226;
    --m3-scheme-surface-container-high: 231 234 219;
    --m3-scheme-surface-container-highest: 225 228 212;
    --m3-scheme-on-surface: 48 52 41;
    --m3-scheme-on-surface-variant: 93 97 84;
    --m3-scheme-outline: 120 124 111;
    --m3-scheme-outline-variant: 176 180 165;
    --m3-scheme-inverse-surface: 13 15 10;
    --m3-scheme-inverse-on-surface: 157 158 149;
    --m3-scheme-primary: 80 102 50;
    --m3-scheme-primary-dim: 68 90 39;
    --m3-scheme-on-primary: 239 255 211;
    --m3-scheme-primary-container: 209 236 170;
    --m3-scheme-on-primary-container: 67 88 38;
    --m3-scheme-primary-fixed: 209 236 170;
    --m3-scheme-primary-fixed-dim: 195 222 157;
    --m3-scheme-on-primary-fixed: 49 69 21;
    --m3-scheme-on-primary-fixed-variant: 76 98 47;
    --m3-scheme-inverse-primary: 214 242 175;
    --m3-scheme-secondary: 89 98 74;
    --m3-scheme-secondary-dim: 77 86 62;
    --m3-scheme-on-secondary: 242 253 221;
    --m3-scheme-secondary-container: 220 231 199;
    --m3-scheme-on-secondary-container: 75 85 61;
    --m3-scheme-secondary-fixed: 220 231 199;
    --m3-scheme-secondary-fixed-dim: 206 217 186;
    --m3-scheme-on-secondary-fixed: 57 66 44;
    --m3-scheme-on-secondary-fixed-variant: 85 95 70;
    --m3-scheme-tertiary: 107 95 39;
    --m3-scheme-tertiary-dim: 94 83 28;
    --m3-scheme-on-tertiary: 255 248 235;
    --m3-scheme-tertiary-container: 249 232 162;
    --m3-scheme-on-tertiary-container: 96 85 30;
    --m3-scheme-tertiary-fixed: 249 232 162;
    --m3-scheme-tertiary-fixed-dim: 235 218 149;
    --m3-scheme-on-tertiary-fixed: 77 67 12;
    --m3-scheme-on-tertiary-fixed-variant: 107 95 39;
    --m3-scheme-error: 167 59 33;
    --m3-scheme-error-dim: 121 25 3;
    --m3-scheme-on-error: 255 247 246;
    --m3-scheme-error-container: 253 121 90;
    --m3-scheme-on-error-container: 110 20 0;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 79 102 50;
    --m3-scheme-primary-container-subtle: 200 227 162;
    --m3-scheme-on-primary-container-subtle: 62 83 33;
    --m3-scheme-secondary-container-subtle: 211 222 191;
    --m3-scheme-on-secondary-container-subtle: 70 80 56;
    --m3-scheme-tertiary-container-subtle: 235 218 149;
    --m3-scheme-on-tertiary-container-subtle: 87 76 22;
    --m3-scheme-error-container-subtle: 255 207 196;
    --m3-scheme-on-error-container-subtle: 142 41 16;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root, ::backdrop {
    --m3-scheme-background: 13 15 10;
    --m3-scheme-on-background: 228 231 215;
    --m3-scheme-surface: 13 15 10;
    --m3-scheme-surface-dim: 13 15 10;
    --m3-scheme-surface-bright: 41 46 35;
    --m3-scheme-surface-container-lowest: 0 0 0;
    --m3-scheme-surface-container-low: 18 20 14;
    --m3-scheme-surface-container: 24 27 19;
    --m3-scheme-surface-container-high: 29 33 24;
    --m3-scheme-surface-container-highest: 35 39 29;
    --m3-scheme-on-surface: 228 231 215;
    --m3-scheme-on-surface-variant: 169 173 158;
    --m3-scheme-outline: 115 119 106;
    --m3-scheme-outline-variant: 69 73 62;
    --m3-scheme-inverse-surface: 250 250 240;
    --m3-scheme-inverse-on-surface: 84 86 79;
    --m3-scheme-primary: 185 206 155;
    --m3-scheme-primary-dim: 172 192 142;
    --m3-scheme-on-primary: 53 69 31;
    --m3-scheme-primary-container: 71 88 48;
    --m3-scheme-on-primary-container: 214 235 182;
    --m3-scheme-primary-fixed: 213 234 181;
    --m3-scheme-primary-fixed-dim: 199 220 168;
    --m3-scheme-on-primary-fixed: 52 68 30;
    --m3-scheme-on-primary-fixed-variant: 80 97 56;
    --m3-scheme-inverse-primary: 83 101 59;
    --m3-scheme-secondary: 192 203 172;
    --m3-scheme-secondary-dim: 178 189 159;
    --m3-scheme-on-secondary: 58 67 45;
    --m3-scheme-secondary-container: 53 62 40;
    --m3-scheme-on-secondary-container: 185 195 165;
    --m3-scheme-secondary-fixed: 220 231 199;
    --m3-scheme-secondary-fixed-dim: 206 217 186;
    --m3-scheme-on-secondary-fixed: 57 66 44;
    --m3-scheme-on-secondary-fixed-variant: 85 95 70;
    --m3-scheme-tertiary: 255 246 221;
    --m3-scheme-tertiary-dim: 244 227 157;
    --m3-scheme-on-tertiary: 105 93 37;
    --m3-scheme-tertiary-container: 249 232 162;
    --m3-scheme-on-tertiary-container: 96 85 30;
    --m3-scheme-tertiary-fixed: 249 232 162;
    --m3-scheme-tertiary-fixed-dim: 235 218 149;
    --m3-scheme-on-tertiary-fixed: 77 67 12;
    --m3-scheme-on-tertiary-fixed-variant: 107 95 39;
    --m3-scheme-error: 249 119 88;
    --m3-scheme-error-dim: 196 79 52;
    --m3-scheme-on-error: 69 9 0;
    --m3-scheme-error-container: 133 35 10;
    --m3-scheme-on-error-container: 255 155 130;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 185 205 155;
    --m3-scheme-primary-container-subtle: 33 49 13;
    --m3-scheme-on-primary-container-subtle: 158 178 129;
    --m3-scheme-secondary-container-subtle: 38 47 26;
    --m3-scheme-on-secondary-container-subtle: 164 175 146;
    --m3-scheme-tertiary-container-subtle: 52 44 0;
    --m3-scheme-on-tertiary-container-subtle: 186 171 107;
    --m3-scheme-error-container-subtle: 90 14 0;
    --m3-scheme-on-error-container-subtle: 255 138 110;
  }
}